* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    text-align: center;
}

.logo {
    width: 50vw;
    max-width: 600px;
    min-width: 250px;
    margin-bottom: 30px;
}

h1 {
    font-size: 80px;
    letter-spacing: 15px;
}

p {
    font-size: 18px;
    letter-spacing: 8px;
    margin-top: 20px;
    opacity: 0.7;
}

button {
    margin-top: 40px;
    background: white;
    color: black;
    border: none;
    padding: 15px 40px;
    letter-spacing: 3px;
}
